/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* Brand Brown Palette based on #5C2905 */
  --ifm-color-primary: #5C2905;
  --ifm-color-primary-dark: #532504;
  --ifm-color-primary-darker: #4e2304;
  --ifm-color-primary-darkest: #401d03;
  --ifm-color-primary-light: #652d05;
  --ifm-color-primary-lighter: #6e3106;
  --ifm-color-primary-lightest: #7c3706;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  /* Brand Secondary (Lavender) for Dark Mode */
  --ifm-color-primary: #E0BBE4;
  --ifm-color-primary-dark: #D19ED8;
  --ifm-color-primary-darker: #CA90D2;
  --ifm-color-primary-darkest: #B465BE;
  --ifm-color-primary-light: #EFD8F0;
  --ifm-color-primary-lighter: #F7E6F8;
  --ifm-color-primary-lightest: #FFFFFF;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}