@import "tailwindcss";
@import "./theme.css";

/* ===== Base general ===== */
.text-base {
  font-family: var(--font-family-base);
  font-style: var(--font-style-base);
  letter-spacing: var(--letter-spacing-base);
}

/* ===== Headings ===== */
.heading-base{
  color: var(--color-primary);
  font-weight: var(--heading-weight-base);

}
.heading-h1 {
  font-size: var(--heading-h1-size);
  line-height: var(--heading-h1-line-height);
}

.heading-h2 {
  font-size: var(--heading-h2-size);
  line-height: var(--heading-h2-line-height);
}

.heading-h3 {
  font-size: var(--heading-h3-size);
  line-height: var(--heading-h3-line-height);
}

.heading-h4 {
  font-size: var(--heading-h4-size);
  line-height: var(--heading-h4-line-height);
}

.heading-h5 {
  font-size: var(--heading-h5-size);
  line-height: var(--heading-h5-line-height);
}

.heading-h6 {
  font-size: var(--heading-h6-size);
  line-height: var(--heading-h6-line-height);
}

/* ===== Pesos ===== */
.text-regular {
  font-weight: var(--text-weight-base);
}

.text-bold {
  font-weight: var(--fw-bold);
}

/* ===== Textos ===== */
.text-large {
  font-size: var(--text-large-size);
  line-height: var(--text-large-line-height);
}

.text-medium {
  font-size: var(--text-medium-size);
  line-height: var(--text-medium-line-height);
}

.text-normal {
  font-size: var(--text-normal-size);
  line-height: var(--text-normal-line-height);
}

.text-small {
  font-size: var(--text-small-size);
  line-height: var(--text-small-line-height);
}
