/* CONTENIDO PRINCIPAL */
.main-content {
    flex: 1;
    margin: 0 auto;
    padding-top: 6.25rem;
    /* 100px */
    padding-bottom: 4rem;
    width: 100%;
    max-width: var(--container-width);
}