/* NAVEGACIÓN (NAV) */
.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav__toggle {
    display: none;
    font-size: 1.5rem;
    color: var(--color-primary);
    padding: 0.5rem;
    border-radius: 0.25rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 110;
}

.nav__container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav__list {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__user-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav__link {
    padding: 0.5rem 0.75rem;
    font-size: var(--text-normal-size);
    font-weight: var(--fw-bold);
    border-radius: 0.375rem;
    color: var(--color-primary);
    text-decoration: none;
    transition: color 0.2s, background-color 0.2s;
}

.nav__link:hover,
.nav__link--active {
    color: var(--color-primary);
    background-color: rgba(92, 41, 5, 0.1);
}

/* =========================================
   ADAPTACIÓN (MEDIA QUERIES)
   ========================================= */

/* Ajustes para vista móvil (máximo 768px o forzado) */
@media (max-width: 768px) {
    .nav:not(.nav--force-desktop) .nav__toggle {
        display: block;
    }

    .nav:not(.nav--force-desktop) .nav__menu--desktop {
        display: none;
    }
}

/* Ajustes para vista escritorio (mínimo 769px) */
@media (min-width: 769px) {
    .nav__menu--mobile {
        display: none;
    }
}