/* FORMULARIO DE PRODUCTO */
.add-product-page__container {
    max-width: 50rem;
    margin: 0 auto;
    width: 100%;
}

.product-form {
    background-color: var(--color-white);
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.product-form__fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.product-form__legend {
    font-size: var(--text-large-size);
    font-weight: var(--fw-bold);
    color: var(--color-primary);
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--color-grey-5);
    width: 100%;
}

.product-form__actions {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--color-grey-5);
    padding-top: 1.5rem;
}

.button:disabled {
    filter: grayscale(1) opacity(0.5);
    cursor: not-allowed;
    transform: none !important;
    box-shadow: none !important;
}

.form-error {
    padding: 1rem;
    background-color: rgba(235, 87, 87, 0.1);
    color: var(--color-error);
    border-radius: 0.5rem;
    border-left: 4px solid var(--color-error);
    font-size: var(--text-normal-size);
}